html {}

body { 
    position: relative;
    padding-top: 50px;
}



#home-background {
	background-color: #383838;
	background-image: url(/img/face.png);
	background-size: cover; 
}

#selfie {
    float: right;
    width: 130px;
    margin: 20px;
    position: relative;
    right: 0px;
}

#introduction {
	margin: 20px;
}

#introduction h1 {
    display: inline;
}

#profiles {
	margin-top: 15px;
    line-height: 5rem;
}

#profiles i {
	margin-right: 5px;
	font-size: 3rem;
}

#profiles i.fa-stack-overflow{
    font-size: 2.3rem;
    top: -2px;
    position: relative;
}

#profiles a {
	color:gray;
}

#profiles a:hover .fa-github {
	color:black;
}

#profiles a:hover .fa-facebook-square {
	color: #3B5998;
}

#profiles a:hover .fa-linkedin-square {
	color: #4875B4;
}

#profiles a:hover .fa-twitter {
	color: #33CCFF;
}

#profiles a:hover .fa-envelope-o {
    color: red;
}

#profiles a:hover .fa-stack-overflow {
    color: orange;
    top: -2px;
}

 #profiles a:hover .fa-github,
 #profiles a:hover .fa-stack-overflow,
 #profiles a:hover .fa-facebook-square,
 #profiles a:hover .fa-linkedin-square,
 #profiles a:hover .fa-envelope-o,
 #profiles a:hover .fa-twitter {
    animation: biggerLinkIcon 0.2s;
    -webkit-animation: biggerLinkIcon 0.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode:forwards;
}

#expertise {
}

#about {
	margin: 20px;
}

#tools {
	font-size: 0.9rem;
	text-align: center;
	color: rgb(185, 185, 185);
    /*position: absolute;*/
    /*bottom: 0;*/
}

nav a i {
	font-size: 1.8rem;
	margin-right: 5px;
}

nav a i {
    font-size: 1.8rem;
    margin-right: 5px;
}

nav a:hover i
{
	animation: wobble 0.5s;
	-webkit-animation: wobble 0.5s; /* Safari and Chrome */
}

.navbar {
    margin-bottom: 0;
}

.posts {
    margin: 20px;
}

.posts h2 {
  /*  font-size: 1.5rem;  */
    margin: 0;
    margin-bottom: 5px;
    color: #BBBBBB;
}

.posts h3 {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 5px; 
}

.posts li {
    /*font-size: 1.3rem;*/
}


.container {  
    width: 800px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#chart1 {
    position: relative;
    width: 300px;
    height: 280px;
    float: right;
    top: -350px;
    right: 0;
}
#chartcontainer {
    position: absolute;
    display: block;
    top: 218px;
    left: 813px;
    width: 300px;
    height: 350px;
}
