#disqus_thread {
	margin: 20px;
}

.post-menu {
/*	float: right;*/


	border: 1px solid #E4E4E4;
	padding: 5px;
	border-radius: 4px;
	background-color: #FAFAFA;
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: fixed;
	left: 10px;
	top: 60px;

}

.post-menu h2 {
	font-size: 1.5rem;
	margin: 0;
	margin-bottom: 5px;
	color: #BBBBBB;
	text-overflow: ellipsis;
	overflow: hidden;
}

.post-menu h3 {
	font-size: 1.3rem;
	margin: 0;
	margin-bottom: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.post-menu li {
	font-size: 1.3rem;
	text-overflow: ellipsis;
	overflow: hidden;
}

.post {
	margin: 10px;
}

#page-navigation {
	text-align: center;
	background: #fafafa;
	border: 1px solid #E4E4E4;
	border-radius: 4px;
	font-size: 1.2rem;
	margin-top: 2rem;
}

.center{
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 15px;
}

.right {
	display: block;
	float: left;
}

.post-container {
	width: 800px;
	margin-left: 200px;
}

.post .table .tr {
    border: 1px solid gray;
}
