<nav class="navbar navbar-default navbar-fixed-top" role="navigation"> 
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">@Ronan</a>
  </div>

  <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li {% if page.url contains 'update' or page.url contains 'blog'%} class="active"{% endif %}><a href="/blog.html"><i class="fa fa-book"></i>Blog</a></li>
      <li {% if page.url contains 'about' %} class="active"{% endif %}><a href="/about.html"><i class="fa fa-smile-o"></i>About</a></li>
    </ul>
  </div>
</nav>